<!-- <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->


  <nav class="navbar">
    <div class="logo">
        <h1>E-shop</h1>
    </div>
    <ul class="menu">
        <li><a routerLink="" class="active">Accueil</a></li>
          <li><a routerLink="add-produit" class="active">add produit</a></li>
          <li><a routerLink="add-categorie" class="active">add categorie</a></li>
          <li><a routerLink="list-produit" class="active">list produit</a></li>
          <li><a routerLink="list-categorie" class="active">list categorie</a></li>

        <li><a href="" class="fa-solid fa-user"></a></li>
        <li><a href="#" class="fa-solid fa-cart-shopping"></a></li>
    </ul>
</nav>